/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@font-face{
    font-family:'AvenirLT-Medium';
    src:url('avenirlt-medium.eot');
    src:url('avenirlt-medium.eot?#iefix') format("embedded-opentype"),
        url('avenirlt-medium.woff') format("woff"),
        url('avenirlt-medium.ttf') format("truetype")
}
@font-face{
    font-family:'AvenirLT-Black';
    src:url('avenirlt-black.eot');
    src:url('avenirlt-black.eot?#iefix') format("embedded-opentype"),
        url('avenirlt-black.woff') format("woff"),
        url('avenirlt-black.ttf') format("truetype")
}
@font-face{
    font-family:'AvenirLT-Roman';
    src:url('avenirlt-roman.eot');
    src:url('avenirlt-roman.eot?#iefix') format("embedded-opentype"),
        url('avenirlt-roman.woff') format("woff"),
        url('avenirlt-roman.ttf') format("truetype")
}
* {
	outline: none !important;
}
body {
	font-family: "AvenirLT-Medium", "Helvetica Neue",Helvetica,Arial,sans-serif;
	-webkit-font-smoothing: antialiased;
	background: #f5f5f5;
	margin-top:50px;
}
body#devise {
	margin-top: 0px;
	.panel {
		margin:0;
	}

	.btn-default {
		position: absolute;
		top: 30px;
		left: 30px;
	}
}
html, body, #wrapper {
	height: 100%;
}
header {
	background: #fff;

	ul {
		li {
			a {
				color: #333;
			}
		}
	}
}
.center {
  text-align: center;
}
.navbar {
	border: 1px solid #DCE0E0;
}
.container-fluid {
	padding: 0 30px;
}
a:hover {
	text-decoration: none;
}
.nav > li > a:hover, 
.nav > li > a:focus {
	text-decoration: none;
	background-color: transparent;
}
.navbar-brand {
	color: #fff;
}
.btn {
	border-radius: 2px;
	border: none;
	padding: 9px 12px 6px 12px;
}
.navbar-nav > li > a.navbar-btn { 
	padding-top: 6px; 
	padding-bottom: 6px;
}
.panel {
	border: 1px solid #ddd;
	border-radius: 2px;

	.panel-body,
	.panel-heading {
		font-weight: 100;
		padding: 30px;
	}

	h1, h2, h3, h4, h5, h6 {
		margin: 0;
	}
}
.restaurants {
	padding: 15px 30px;
	border-bottom: 1px solid #e9eaec;

	&:last-child {
		border-bottom: none;
	}
	.restaurant-name a {
		font-size: 16px;
		color: #333;
	}
	.restaurant-rating,
	.restaurant-address {
		color: #999;
	}
}
.hero-unit {
	background: image-url('bg.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding:30px;
	color: #fff;
	margin-bottom: 30px;

	h2 {
		margin: 10px 0 30px 0;
	}
	h4 {
		text-transform: uppercase;
		margin: 250px 0 0 0;
	}

	.form-control {
		width:500px;
		float:left;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		margin-bottom: 20px;
		height: 52px;
		border:none;
	}
	.btn {
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
		padding: 16px 50px;
	}
}
.form-control {
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none; 
	height: 50px;
	padding: 8px 12px 6px 12px;
}
.form-control:focus {
  border-color: #999;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-group {
	margin-bottom: 30px;
}
.form-group:last-child {
	border-bottom: none;
	margin:0;
}
form label {
	color: #656565
}
textarea.form-control {
	height:300px;
	resize:none;
}
.alert {
  border-radius: 0px; 
}
footer {
	margin-top:100px;
	background: #444;
	padding:50px;
	color: #9E9E9E;
}
.btn-lg {
	padding: 13px 16px;
}

#page {
    display:table;
    overflow:hidden;
    margin:0px auto;
}
*:first-child+html #page {
    position:relative;
}/*ie7*/
* html #page {
    position:relative;
}/*ie6*/

#content_container{
    display:table-cell;
    vertical-align: middle;
}
*:first-child+html #content_container{
    position:absolute;
    top:50%;
    }/*ie7*/
* html #content_container{
    position:absolute;
    top:50%;
    }/*ie6*/

*:first-child+html #content{
    position:relative;
    top:-50%;
    }/*ie7*/
* html #content{
    position:relative;
    top:-50%;
    }/*ie6*/

#page{
    height:100%;
    width:390px;
}
.devise {
	.form-group {
		margin-bottom: 11px;
	}

	.actions {
		margin-bottom: 20px;
	}
}
.btn-default  {
	border: 1px solid #c4c4c4;
}

/*----------------------------------------------------------------
Restaurant Results
------------------------------------------------------------------*/
.restaurant-results {
  width: 50%;
  float:left;
}
.map {
	height: inherit;
	width:50%;
	float: right;
	position:fixed;
  right:0;
}

/*----------------------------------------------------------------
Restaurant Show Page
------------------------------------------------------------------*/


/*----------------------------------------------------------------
Google Maps API
------------------------------------------------------------------*/
#map-container {
   height: 100%;
 }
 #map-canvas {
   height: 100%;
   width: 100%;
 }










































































