%header.navbar.navbar-fixed-top
	.container-fluid
		.navbar-header
		= image_tag('logo.png', class: "navbar-brand")
		%nav.collapse.navbar-collapse.bs-navbar-collapse
			%ul.nav.navbar-nav.navbar-right
				%li= link_to "Register", "#"
				%li= link_to "Login", "#"
				
